<div *ngIf="!selected">
  <div>
    <form>
      Find patient by id: <br>
      <input  type="text" name="id" placeholder="id" [(ngModel)]="id"/>
      <input class="btn btn-sm btn-outline-primary" type="submit" value="Search"  (click)="findById(id)" />
    </form>
  </div>


    <label for="patients">Find patient by blood type:</label>
    <form action="">

    <select name="types" id="types" (change)="selectBloodType($event.target.value)" [(ngModel)]="selectedType">
      <option *ngFor="let t of bloodTypes" value = {{t.id}}>{{t.bloodGroup}} {{t.rh ? "+" :  "-"}}</option>
    </select>
      <input class="btn btn-sm btn-outline-primary" type="submit" value="Search"  (click)="findByBloodTypeId(selectedType.id)" />
    </form>

    <table class="table table-striped ">
    <thead>
    </thead>
    <tr><th>Patient ID</th><th>Name</th><th>BirthDate</th><th>Sex</th><th>Weight</th><th>Blood Type</th><th>Zip Code</th></tr>
    <tbody>

      <tr *ngFor="let p of patients" (click)="displayPatient(p)">
        <td>{{p.id}}</td>
        <td>{{p.firstName}} {{p.lastName}}</td>
        <td>{{p.birthDate}}</td>
        <td>{{p.sex}}</td>
        <td>{{p.weightKg}}</td>
        <td>{{p.bloodType.bloodGroup}} {{p.bloodType.rh ? "+" :  "-"}}</td>
        <td>{{p.address.zip}}</td>
      </tr>
    </tbody>

  </table>
  <button class="btn btn-info" (click)="displayTable()"  *ngIf="filtered">Back</button>


  <div class="border">
    <button class="btn btn-md btn-outline-primary" (click)="open(content)">
      <i class="fa fa-user"></i>Create new Patient</button>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Patient</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class = "form-group">
        First Name: <br>
        <input type="text" name="title" placeholder="firstName" [(ngModel)]="newPatient.firstName" /><br />
        Last Name:  <br>
        <input type="text" name="title" placeholder="lastName" [(ngModel)]="newPatient.lastName" /><br />
        <div class="form-group">
          <div class="input-group">
          <label>DOB:</label>
            <input class="form-control" placeholder="yyyy-mm-dd"
            name="dp" [(ngModel)]="newPatient.birthDate" type="date">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar"  type="button"></button>
            </div>
          </div>
        </div>
        Sex: <br>
        <input type="text" name="sex" placeholder="sex" [(ngModel)]="newPatient.sex" /><br />
        Weight: <br>
        <input type="text" name="weight" placeholder="weight" [(ngModel)]="newPatient.weightKg" /><br />
          <select name="types" id="types" (change)="selectBloodType($event.target.value)" [(ngModel)]="selectedType">
            <option *ngFor="let t of bloodTypes" value = {{t.id}} >{{t.bloodGroup}} {{t.rh ? "+" :  "-"}} </option>
          </select>
          <input type="submit" value="Set Patient BloodType"  (click)="setNewPatientBloodType()" ><br>
          Address: <br>
          <input type="text" name="street1" placeholder="street1" [(ngModel)]="newAddress.street1" /><br />
          <input type="text" name="street1" placeholder="street2" [(ngModel)]="newAddress.street2" /><br />
          <input type="text" name="city" placeholder="city" [(ngModel)]="newAddress.city" /><br />
          <input type="text" name="state" placeholder="state" [(ngModel)]="newAddress.state" /><br />
          <input type="number" name="zip" placeholder="zip" [(ngModel)]="newAddress.zip" /><br />
        <div class="border text-center">
          <button (click)="onSubmit(newPatient, newAddress)" data-dismiss="modal" class="btn btn-info">Submit</button>
          </div>
      </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning" (click)="modal.close('cancel click')">cancel</button>
    </div>
  </ng-template>
</div>





<div *ngIf="selected">
<div class= "text-center">
  <h1>{{selected.firstName}} {{selected.lastName}}</h1>

      <h3>Id: {{selected.id}} </h3>

      <p>DOB: {{selected.birthDate}} <p>
      <p>Sex: {{selected.sex}} </p>
      <p>Weight(kilograms): {{selected.weightKg}} <p>
      <p>Blood Type: {{selected.bloodType.bloodGroup}} {{selected.bloodType.rh ? "+" :  "-"}} <p>
      <p>Zip: {{selected.address.zip}} <p>
        <button (click)="displayTable()">Back</button>



  <div class="container">
    <button class="btn btn-md btn-outline-primary" (click)="open(content)">
      <i class="fa fa-user" ></i>Update Patient Record</button>
  </div>
  <div class="container">
    <button class="btn btn-md btn-outline-primary" (click)="open(contentEdit)">
      <i class="fa fa-user" ></i>Update Patient Address</button>
  </div>
  <ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Patient</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="modal-body">
      <form>
        First Name: <br>
        <input type="text" name="firstName" placeholder="First Name" [(ngModel)]="editPatient.firstName" /><br />
        Last Name:  <br>
        <input type="text" name="lastName" placeholder="Last Name" [(ngModel)]="editPatient.lastName" /><br />
        <div class="form-group">
          <div class="input-group">
          <label>DOB:</label>
            <input class="form-control" placeholder="yyyy-mm-dd"
            name="dp" [(ngModel)]="editPatient.birthDate" type="date">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar"  type="button"></button>
            </div>
          </div>
        </div>
        Sex: <br>
        <input type="text" name="sex" placeholder="sex" [(ngModel)]="editPatient.sex" /><br />
        Weight: <br>
        <input type="number" name="weight" placeholder="weight" [(ngModel)]="editPatient.weightKg" /><br />
        <select name="types" id="types" (change)="selectBloodType($event.target.value)" [(ngModel)]="selectedType">
          <option *ngFor="let t of bloodTypes" value = {{t.id}} >{{t.bloodGroup}} {{t.rh ? "+" :  "-"}} </option>
        </select>
        <input type="submit" value="Set Patient BloodType"  (click)="setEditPatientBloodType()" ><br>


        <div class="border text-center">
          <button (click)="updatePatient(editPatient)" data-dismiss="modal" class="btn btn-info">Submit</button>
          </div>
      </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning" (click)="modal.close('cancel click')">cancel</button>
    </div>
  </ng-template>
  <ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Patient Address</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="modal-body">
      <form>
        Address: <br>
        <input type="text" name="street1"   placeholder="{{selected.address.street1}}"[(ngModel)]="editAddress.street1" /><br />
        <input type="text" name="street2" [(ngModel)]="editAddress.street2" /><br />
        <input type="text" name="city" placeholder="city" [(ngModel)]="editAddress.city" /><br />
        <input type="text" name="state" placeholder="state" [(ngModel)]="editAddress.state" /><br />
        <input type="number" name="zip" placeholder="zip" [(ngModel)]="editAddress.zip" /><br />

        <div class="border text-center">
          <button (click)="updateAddress(editAddress, selected.address.id, selected)" data-dismiss="modal" class="btn btn-info">Submit</button>
          </div>
      </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('cancel click')">cancel</button>
    </div>
  </ng-template>



  <button *ngIf="adminActive()"class="btn btn-outline-danger" (click)="openDelete(contentDelete, selected)">delete</button>
  <ng-template #contentDelete let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Confirm Delete</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h2>Are you sure you want to delete this record.</h2>
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-danger" (click)="deletePatient(selected.id)">Yes, Delete!</button>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </ng-template>
</div>



</div>

