  <div *ngIf="!selected">
  <table class="table table-striped ">
    <thead>
      <tr>
        <th>ID</th>
        <th>RECIPIENT</th>
        <th>ORGAN TYPE</th>
        <th>DONOR</th>
        <th>APPROVAL STATUS</th>
        <th>CREATED AT</th>

      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let tRequest of transplantRequest" (click)="selected = tRequest">
        <td>{{tRequest.id}}</td>
        <td>{{tRequest.recipient.firstName}} {{tRequest.recipient.lastName}}</td>
        <td>{{tRequest.organType.organ}}</td>
        <td>{{tRequest.donor.firstName}} {{tRequest.donor.lastName}}</td>
        <td>{{tRequest.approvalStatus}}</td>
        <td>{{tRequest.createdAt}}</td>
      </tr>
    </tbody>
  </table>
</div>




<div *ngIf="selected">

        <div *ngIf="selected"  style="text-align: center;" >
          <p>PATIENT</p>

          <p>ID: {{selected.id}}</p>
                <p>FIRST NAME: {{selected.recipient.firstName}}</p>
                <p>LAST NAME: {{selected.recipient.lastName}}</p>
                <p>BIRTH DATE: {{selected.recipient.birthDate}}</p>
                <p>SEX: {{selected.recipient.sex}}</p>
                <p>WEIGHT: {{selected.recipient.weightKg}}</p>
                <!-- <p>BLOOD GROUP: {{selected.recipient.bloodType.bloodGroup}}</p>
                <p>BLOOD RH: {{selected.recipient.bloodType.rh}}</p>
                <p>ADDRESS: {{selected.recipient.address.street1}}</p>
                <p>{selected.recipient.address.street2}}</p>
                <p>{{selected.recipient.address.city}}</p>
                <p>{{selected.recipient.address.state}}</p>
                <p>{{selected.recipient.address.zip}}</p> -->
                <!-- <p>ADDRESS: {{selected.recipient.transplantType.organ}}</p> -->
                <!-- <p>{{selected.recipient.notes}}</p> -->
                <!-- <p>{{selected.createdAt}}</p> -->
                <!-- <p>{{selected.approvalStatus}}</p> -->
                <!-- <button (click)="setUpdatedBooking()" class="btn btn-link">UPDATE</button> -->
                <button (click)="selected =null" >RETURN HOME</button>
              </div>

              <button ngif="selected" (click)="loadViableDonors(selected)">Find Viable Donors</button>

</div>



