.denied {
  background-color: rgba(252, 89, 89, 0.3);
  /* background-color: red; */
}
.pending {
  background-color: rgb(243, 243, 109, 0.3);
  /* background-color: yellow; */
}
.approved {
  background-color: rgb(138, 238, 138, 0.3);
  /* background-color: green; */
}
.patientHeader{
  background-color: rgb(250, 204, 0);
}
.selectedHeader{
  background-color: rgb(250, 204, 0);
  padding-left: 200px;
}
.g{
  background-color: #047779;
}
.id{
  background-color: #047779;
  color: white;
  padding-left: 200px;
}


