
<!-- <p style ="font-size: 12px; text-align: left;"> Making organ matches </p> -->
<br>

<div style="text-align: center;">
  <img src="assets/img/health.jpeg" class="Responsive image"
    style="height: 300px; width: 1000px">
</div>
<br> <br><br>
<div class="container">
  <div class="row align-items-start">
    <div class="col">
          </div>
    <div class="col" style= "text-align: center">
<p style="font-size: 40px; font-family: Avenir light">QUICK STATS</p>    </div>
    <div class="col">

    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <div class="card" style="text-align: center">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5> -->
          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
          <p class="card-text" style="font-size: 25px; font-family: Avenir light;">There are more than 109, 000 people on the National Transplant Waiting list </p><br>
          <a href="https://www.organdonor.gov/statistics-stories/statistics.html" class="card-link" style ="text-align: center; color:blue; font-family: Avenir light;">MORE STATISTICS</a><br><br>
        </div>
      </div>    </div>
    <div class="col">
      <div class="card" style=" text-align: center">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5> -->
          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
          <p class="card-text" style="font-size: 25px; font-family: Avenir light;"> <br>Every day 17 people die for lack of an organ transplant. <br>  </p><br>
          <a href="https://www.organdonor.gov/register.html" class="card-link" style ="text-align: center; color:blue; font-family: Avenir light;">REGISTER TO BE A DONOR</a><br><br>

        </div>
      </div>
     </div>
    <div class="col">
      <div class="card" style=" text-align: center">
      <div class="card-body">
        <!-- <h5 class="card-title">Card title</h5> -->
        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
        <p class="card-text" style="font-size: 25px; font-family: Avenir light;"> <br>The transplant waiting list increases by 1 every 9 minutes <br>  </p>
        <a href="https://transplantliving.org/before-the-transplant/about-organ-allocation/getting-on-the-list/" class="card-link" style ="text-align: center; color:blue; font-family: Avenir light;">LEARN MORE ABOUT WAITING LIST</a><br><br>
      </div>
     </div>
  </div>
</div>
</div>
<br>

    <div class="col" style="text-align: center">
      <br> <br>
      <h4 style="font-family: Avenir Light; font-size: 30px; color:gray;"><i> "OUR MISSION AT ORGANIZR IS TO CREATE A PLATFORM WHERE HEALTHCARE FACILITIES CAN MORE EASILY TRACK AND CONNECT VIABLE ORGAN DONORS AND RECIPIENTS." </i></h4>

    </div>
    <br>  <br>  <br>

<div class="container">
  <div class="row align-items-start">
    <div class="col" style="background-color: #f7f7f7;">
      <br>
      <br>
        <p style="font-size: 30px; text-align: center; color: gray; font-family: Avenir Light">ORGAN TRANSPLANTS IN 2019 TOTALED </p>


      <p style="font-size: 70px; text-align: center; font-family: Avenir Light; color: black;"> 3 9 , 7 1 9 </p>
      <p style="font-size: 10px; text-align: center;font-family: Avenir Light; color: gray;">   https://unos.org/data/transplant-trends/ </p>




     </div>
     <br>
     <br>
     <br>
  <div></div>
  <div class="col" style="background-color: white;">
    <div style="text-align: center;">
      <img src="assets/img/doctor.jpeg" class="Responsive image"
        style="height: 305px; width: 410px">
    </div>
   </div>
  </div>
</div>
<br>
<br>
<br>

<div style="background-color: #f7f7f7;">


    <p style="font-size: 40px; text-align: center; color: gray; font-family: Avenir Light">ORGANS WE MATCH  </p>
    <div class="container">
      <div class="row align-items-start">
        <div class="col">
          <p style="font-size: 25px; text-align: center; color: gray; font-family: Avenir Light">Bone Marrow  </p>
        </div>
        <div class="col">
          <p style="font-size: 25px; text-align: center; color: gray; font-family: Avenir Light">Kidney  </p>
        </div>
        <div class="col">
          <p style="font-size: 25px; text-align: center; color: gray; font-family: Avenir Light">Heart  </p>
        </div>
      </div>
</div>
 </div>





<br><br><br>
<br>
<h3 style="font-size: 40px; font-family: Avenir light; text-align: center; color: gray"> HOW IT WORKS</h3>
<br>

<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <div class="card" style="text-align: center">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5> -->
          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
          <br>
          <p class="card-text" style="font-size: 22px; font-family: Avenir light;"> CONNECT WITH YOUR HEALTHCARE ADMINISTRATION</p>
          <p class="card-text" style="font-size: 50px; font-family: Avenir light; color: rgb(218, 218, 218)"> 1</p>
          <br>


        </div>
      </div>    </div>
    <div class="col">
      <div class="card" style=" text-align: center">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5> -->
          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
          <br>
          <p class="card-text" style="font-size: 22px; font-family: Avenir light;"> REGISTER WITH ORGANIZR VIA YOUR FACILITY </p>
          <p class="card-text" style="font-size: 50px; font-family: Avenir light; color: rgb(218, 218, 218)"> 2</p>

          <br>
        </div>
      </div>
     </div>
    <div class="col">
      <div class="card" style=" text-align: center">
      <div class="card-body">
        <!-- <h5 class="card-title">Card title</h5> -->
        <br>
        <p class="card-text" style="font-size: 22px; font-family: Avenir light;">  START FINDING MATCHES</p>
        <br>
        <p class="card-text" style="font-size: 50px; font-family: Avenir light; color:rgb(218, 218, 218)"> 3</p>

        <br>
      </div>
     </div>
  </div>
</div>
</div>
<br>
<br>
<br>

<p style="font-size: 40px; text-align: center; color: gray; font-family: Avenir light"> FOR HEALTHCARE STAFF </p><br>
<div class="container">
  <div class="row align-items-start">
    <div class="col" style="background-color: #047779;">
      <br>
      <br>
      <br>
      <a [routerLink]="['/register']"><p style="font-size: 35px; text-align: center; font-family: Avenir light; color: white"> REGISTER </p></a>
      <br>
      <br>
      <br>
     </div>
  <div></div>
  <div class="col" style="background-color: rgb(250, 204, 0);">
    <br>
    <br>
    <br>
    <a [routerLink]="['/login']"><p style="font-size: 35px; text-align: center; font-family: Avenir light; color: white"> LOGIN </p></a>
    <br>
    <br>
    <br>
   </div>
  </div>
</div>
<br>
<br>
<br>

<div class="col" style="background-color: #f7f7f7;">
  <br>
  <br>
<p style="font-size: 30px; text-align: center; font-family: Avenir light">FACTS AND RESOURCES</p>
<p style="font-size: 20px; text-align: left; font-family: Avenir light">Discover more information on organ donation</p>


<br>
<ul>
<li><a href="https://www.organdonor.gov/statistics-stories/statistics.html" class = "resources"> OrganDonor.gov</a><br>
<li><a href="https://www.donatelife.net/statistics/" class = "resources"> DonateLife.net</a><br>
<li><a href="https://www.kidney.org/news/newsroom/factsheets/Organ-Donation-and-Transplantation-Stats" class = "resources"> Kidney.org</a><br>
<li><a href="https://www.americantransplantfoundation.org/about-transplant/facts-and-myths/" class = "resources"> AmericanTransplantFoundation.org</a><br>

<li><a href="https://www.donornetworkwest.org/organ-donation-facts-statistics/" class = "resources"> DonorNetworkWest.org</a><br>
<li><a href="https://rarediseases.org/organizations/national-marrow-donor-program/" class = "resources"> RareDiseases.org</a><br>
  <li><a href="https://unos.org/transplant/facts/" class = "resources"> Unos.org</a>

    <li><a href="https://my.clevelandclinic.org/health/articles/11750-organ-donation-and-transplantation" class = "resources"> My.clevelandclinic.org</a><br>
      <li><a href="https://medlineplus.gov/organdonation.html" class = "resources"> Medlineplus.gov</a><br>

</ul>
<br>
<br>

</div>
<br>
<br><br>










