<br>
<br>
<br>
<h4 style ="text-align: center; font-size: 40px; color: gray; font-family: Avenir light;"> WE MAKE THE CONNECTION FOR HEALTHCARE FACILITIES BETWEEN DONORS AND RECIPENTS</h4>
<br>
<br>
<br>
<br>

<h4 style ="text-align: center; font-size: 40px; color:gray; font-family: Avenir light; ">M I S S I O N</h4>
<br>
<br>
<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <br>
      <p style ="text-align: center; font-family: Avenir light; font-size: 25px;  ">Thousands of individuals across the United States depend on the generosity of an organ donor to stay alive. </p>
<br>
      <p style ="text-align: center; font-family: Avenir light; ">Our app is designed to make the connection between donors and recipients via healthcare facilities to hopefully give more individuals the chance at a longer and healthier life. </p></div>
    <div class="col">
      <br>
      <br>
      <div style="text-align: center;">
        <img src="assets/img/doctor2.jpeg" class="Responsive image"
          style="height: 260px; width: 370px">
      </div>
     </div>

</div>
<br>
<br>
<br>
<br>
<br>

<h4 style ="text-align: center; font-size: 40px; color:gray">OUR PROCESS</h4>
<br>
<h4 style ="text-align: center; font-size: 23px; color:gray">HOW WE MAKE MATCHES</h4>
<br><br>



<div class="card-group">
  <div class="card">
    <div style="text-align: center;">
      <img src="assets/img/bone.png" class="Responsive image"
        style="height: 200px; width: 300px">
    </div>
    <div class="card-body">
      <h5 class="card-title" style="font-family: Avenir light; text-align: center;">BONE MARROW</h5>
      <p class="card-text"  style="font-family: Avenir light; text-align: center;">Bone Marrow recipients and donors are matched based on HLA (Human Leukocyte Antigen) proteins and tissue. All humans share the major and minor classes of HLA proteins. For bone marrow transplant matching, doctors identify how close the variations of these proteins are between donors and recipients.    </p>
     <br> <p class="card-text"><a href="https://web.stanford.edu/dept/HPS/transplant/html/hla.html"><p style="font-family: Avenir light; text-align: center; font-size: 20px;">LEARN MORE</p></a></p>
    </div>
  </div>
  <br>
  <div class="card">
    <div style="text-align: center;">
      <img src="assets/img/tooth.png" class="Responsive image"
        style="height: 200px; width: 300px">
    </div>
    <div class="card-body">
      <h5 class="card-title" style="font-family: Avenir light; text-align: center;">TEETH</h5>
      <p class="card-text"  style="font-family: Avenir light; text-align: center;">Bone Marrow recipients and donors are matched based on HLA (Human Leukocyte Antigen) proteins and tissue. All humans share the major and minor classes of HLA proteins. For bone marrow transplant matching, doctors identify how close the variations of these proteins are between donors and recipients.    </p>
     <br> <p class="card-text"><a href="https://web.stanford.edu/dept/HPS/transplant/html/hla.html"><p style="font-family: Avenir light; text-align: center; font-size: 20px;">LEARN MORE</p></a></p>
    </div>
  </div>
  <br>
  <br>
  <div class="card">
    <div style="text-align: center;">
      <img src="assets/img/kidney.png" class="Responsive image"
        style="height: 200px; width: 300px">
    </div>    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <br>
  <br>  <br>  <br>  <br>
</div>

<br>  <br>  <br>  <br>






