<br>
<br>
<br>
<h4 style ="text-align: center; font-size: 40px; color: gray"> WE MAKE THE CONNECTION FOR HEALTHCARE FACILITIES BETWEEN DONORS AND RECIPENTS</h4>
<br>
<br>

<h4 style ="text-align: center; font-size: 35px; color:gray">MISSION</h4>

<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <br>
      <p style ="text-align: left; font: Arial light"> ORGANIZR was designed by a group of four developers who were was inspired by the enormous need for organ donations. Organ donations Thousands of individuals across the United States and world are depending on the generosity of an organ donor to survive. Our app is designed to facilitate the process of matching donors and recipients via a healthcare facility to hopefully give more individuals that chance at a longer and healthier life. </p>

    </div>
    <div class="col">
      <br>
      <br>
      <div style="text-align: center;">
        <img src="assets/img/doctor2.jpeg" class="Responsive image"
          style="height: 250px; width: 320px">
      </div>
     </div>

</div>
<br>

<h4 style ="text-align: center; font-size: 35px; color:gray">WE MAKE MATCHES</h4>
<br>
<br>
<br>


</div><div style="background-color:#f7f7f7; text-align: center;">
  <br>
  @ORGANIZR | All Rights Reserved
  <br>
</div>
