
<div style="background-color:#f7f7f7; color: #047779; text-align: center;">
  <br>

  @ORGANIZR | All Rights Reserved
  <br>
  <br>

<br>
<br>
<br> -->
<br>
<br>
<div class="container">
  <div class="row align-items-start">
    <div class="col" >
<p style= "font-size: 20px; text-align:left; font-family: Avenir light; color: gray"><strong>OUR TEAM</strong></p>
<p style="font-size: 18px; text-align:left; font-family: Avenir light; color: gray">We are a team of four developers based in different locations across the western United States. </p>
    </div>

    <div class="col" style="font-size: 20px; text-align: left; font-family: Avenir light">
      <p  style="font-size: 20px; text-align:left; font-family: Avenir light; color: gray"><strong>LOCATIONS</strong><br>
      <p style="font-size: 18px; text-align:left; font-family: Avenir light; color: gray">Remote</p>
    </div>
    <div class="col" style="font-size: 20px; text-align: left; font-family: Avenir light">
      <p style="font-size: 20px; text-align: left; font-family: Avenir light; color: gray"><strong>CONTACT US</strong></p>
      <p style="font-size: 17px; text-align: left; font-family: Avenir light; color: gray">ORGANIZR Inc.</p>
      <p style="font-size: 18px; text-align: left; font-family: Avenir light; color: gray">123 Anonymous Road </p>
      <p style="font-size: 18px; text-align: left; font-family: Avenir light; color: gray">Boulder, CO 00000</p>
      <p style="font-size: 18px; text-align: left; font-family: Avenir light; color: gray"> fillinemail@organizr.com</p>


    </div>
  </div>
  <br>
  <p style="font-size: 15px; text-align: center; font-family: Avenir light; color: gray">   @ORGANIZR | All Rights Reserved</p>
<br><br>
</div>



